<div class="wrapper row2">
  <div id="container" class="clear">
    <div id="about-us" class="clear">
      <section id="about-intro" class="one_third first">
        <div class="panorama"><img class="imgholder" src="images/Thriftstore.jpg" alt="" style="width:304px;height:228px;"></div>
      </section>
      <section id="skillset" class="one_third">
    
        <p>Thrift Store is a non-profit thrift destination in Hoboken, New Jersey that benefits people in need ranging from cancer to homeless.</p>
<p><b>Our Mission:</b> <i>"Doing The Most Good." In these four words, our mission - to feed, to clothe, to comfort, to care. To rebuild broken homes and broken lives”</i></p>

 <p>Thrift Store opened its doors in 2016 and quickly rose to thrift shop stardom. Our store will enable users to not only shop online but at lower prices than anywhere else as this will be for charity. When users purchase for a certain amount they will be rewarded with vouchers and coupons that they will be able to redeem at a certain set of stores that we partner with. Users can buy products with or without credit card details 

This project will serve two main purposes:
<ul><li> Reduce wastage of goods</li>
<li> Raise funds</li></ul>

Not in New Jersey?  Follow our Instagram, Facebook, Tumblr, or Twitter feed for daily updates on wide range of products.

</p>
        
      </section>
      <section id="team" class="one_third">
        <h2>OUR TEAM</h2>
        <ul class="clear">
          <li>
            <figcaption>
                <p class="team_name">Himanshu Goel</p>             
              </figcaption>         
          </li>
          <li>           
              <figcaption>
                <p class="team_name">Sneha Seth</p>              
              </figcaption>            
          </li>
          <li>
            
              <figcaption>
                <p class="team_name">Xiang Cao</p>            
              </figcaption>
            
          </li>
          <li>
              <figcaption>
                <p class="team_name">Ishita Arora</p>
              </figcaption>
            
          </li>
          <li>
              <figcaption>
                <p class="team_name">Sanjana Brid</p>               
              </figcaption>
            
          </li>
        
        </ul>
      </section>

    </div>

  </div>
</div>