<div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
        <span><strong>user id</strong>: {{user._id}} </span><br>
        <span class="fa fa-sign-out"><a href="/upload"> Sell Your Stuff</a></span>
        <hr>
        <div class="jumbotron">
            <!--<img src="https://avatars.io/gravatar/{{ user.email }}" class="img-circle"><br>-->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaKH4dU_U6Pe6WX5G8B9DZkkpzGHUxUJeGmOHbwKh6KrFsZsm6" class="img-circle"><br>
            <strong>email</strong>:{{user.email}}
        </div>
    </div>
</div>